

    <div class="col-md-12">   
         <button class="btn btn-primary m-2"> Add Product</button>
    </div>

  

    <table class="table">

        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of AllProductsForAdmin">
            <td>
              <img [src]="product.images[0]" class="w-25 rounded-5 imgg" alt="">
            </td>
            <td>
              <h3 class="h6 my-2" style="font-size: medium;">Name: {{product.name}}</h3>
              </td>
              <td>              <h4 class="h6 my-2 lead textcolor" style="font-size: medium;">Price: {{product.price}}</h4>
              </td>
              <td>              <h5 class="h6 my-2 lead textcolor" style="font-size: medium;">Quantity: {{product.quantity}}</h5>
              </td>
              <td>
                <h6 class="h6 my-2 lead textcolor" style="font-size: medium;">Color: {{product.colors}}</h6>

              </td>

              <!-- <p class="h6 my-2 lead textcolor" style="font-size: small;">CreatedAt: {{product.createdAt}}</p> -->
              <div class="Vote position-absolute top-0 p-1 end-0 text-white">{{product.ratingsAverage.toFixed(1)}}</div>
         
          </tr>
        </tbody>
      </table>

    
