<p>about works!</p>

<div class="row">
  

    <div *ngFor="let product of AllProductsForAdmin" class="col-md-2">


        <div class="Movie position-relative" >
            <a> 
                <img  [src]="product.images[0]" class="w-100 imgg " alt="">
    
            <h3 class="h6 my-2" style="font-size: medium;">Name :{{product.name}} </h3>
            <h4 class="h6 my-2 lead textcolor" style="font-size: medium;">Price :{{product.price}} </h4>
            <h5 class="h6 my-2 lead textcolor " style="font-size: medium;">quantity :{{product.quantity}} </h5>
            <h6 class="h6 my-2 lead  textcolor " style="font-size: medium;">Color :{{product.colors}} </h6>
            <!-- <p class="h6 my-2 lead  textcolor " style="font-size: small;">CreatedAt :{{product.createdAt}} </p> -->
            


    
            <div  class="Vote position-absolute top-0 p-1 end-0 text-white">{{product.ratingsAverage.toFixed(1)}}</div>
            </a>
               
        </div>
    
    </div>

    </div>
